<footer class="text-center footer-bg ">
  <div class="container p-0 ">
    <section>

      <a
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="bi bi-facebook"></i></i
      ></a>


      <a
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="bi bi-twitter-x"></i
      ></a>


      <a
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="bi bi-google"></i></i
      ></a>


      <a
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="bi bi-instagram"></i
      ></a>

  </div>

  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Copyright: Alexandro Liu Zhou
  </div>
</footer>
